@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    border: none; outline: none;
    transition: all .2s linear;
}

:root{
    --main-color: #FD6E0A;
    --text-color: #181818;
    --bg-color: #fff;
}

.btn-primary{
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 5px;
    border: .1rem solid transparent;
    color: var(--bg-color);
    background: var(--main-color);
    cursor: pointer;
}

.btn-primary:hover{
    background: transparent;
    color: var(--main-color);
    border: .1rem solid var(--main-color);
}

.heading{
    text-align: center;
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    padding: 1rem 0;
}

li{
    list-style: none;
}

/* header design */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10%;
}

.logo{
    font-size: 45px;
    font-weight: 800;
    color: var(--text-color);
}

.logo span{
    color: var(--main-color);
}

nav >ul{
    display: flex;
    align-items: center;
}

nav a{
    margin-right: 50px;
}

/* header design */
.header{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .b-content{
    max-width: 585px;
}

.banner .profile{
    max-width: 585px;
}

.banner .greet{
    font-size: 45px;
    color: #474747;
}

.banner .para{
    margin-top: 20px;
    font-size: #757575;
}

.banner .banner-head{
    font-size: 85px;
}


/* main section design */

main > section{
    margin-top: 130px;
}


main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section design */

.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about .heading{
    text-align: center;
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    padding: 1rem 0;
}

.about .description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    max-width: 827px;
}

.about .info-container{
    margin-top: 2rem;
}

.about .info-container{
    display: flex;
    justify-content: space-around;
}

.about .info-container .infos{
    text-align: center;

}






/* what i do? */

#des{
    padding: 30px 150px;
    text-align: center;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skills-container .skills{
    padding: 30px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-container .skills .u-name{
    font-size: 20px;
    font-weight: 700;
    padding: 1rem 0;
}

.skills-container .skills .dis{
    font-size: 16px;
    font-weight: 400;
}






/* resume design */

.resume-container .res-col .res-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container{
    display: flex;
    gap: 50px;
}

.resume-container .res-col .res-item{
    margin-top: 20px;
}

.resume-container .res-col .res-item h2{
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color);
    padding: 1rem 0;
}

.resume-container .res-col .res-item h3{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}

.resume-container .res-col .res-item p{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    padding: 1rem 0;
}

.resume-container .res-col hr{
    margin: 20px 0;
    background-color:var(--text-color);
    height: 1px;
}

.cv{
    margin-top: 50px;
    text-align: center;
}